@{
    ViewData["Title"] = "Home Page";
}
<core-app>
    <div>
        <p><img src="~/img/ajax_small.gif" />  Please wait ...</p>
    </div>
</core-app>
@section Scripts {
@*<script src="node_modules/core-js/client/shim.min.js"></script>
<script src="node_modules/zone.js/dist/zone.js"></script>
<script src="node_modules/systemjs/dist/system.src.js"></script>*@

    <script src="~/app/systemjs.config.js"></script>
    <script>
        //System.config({ packages: { 'app': { defaultExtension: 'js' } }, });
        System.import('app').then(null, console.error.bind(console));
    </script>
}